* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    max-width: 550px;
    width: 100%;
    /* min-height: 235px; */
}

.sliderBtnImg {
    margin-right: 80px;
}
.sliderFood-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}
.subscribe-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
} 

.subscribe-btn:hover {
    transition: 0.5s;
}
.cardText {
    font-size: 8px;
}
.cardTitle {
    font-size: 12px;
}
/* @media (max-width: 575px) {
    .card {
        height: 450px;
    }
} */