* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__form {
    display: flex;
    align-items: center;
    max-width: 450px;
}
  
.nav__label {
    width: 400px;
    position: relative;
    margin-bottom: 0;
}
  
.nav__input[type="text"] {
    border: none;
    font-size: 16px;
}

#nav__search {
    margin-bottom: 0;
    border-radius: 22px;
}
  
.nav__img_search {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 13px;
}

.pointer {
    cursor: pointer;
}

.nazat {
    height: 22px;
}
.div__mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

.dNone {
    display: none;
}

.dBlock {
    display: block;
}

.input__mobile {
    border: none;
    outline: none;
    border-radius: 15px;
}

.icon:hover {
    transform: rotate(180deg);
    transition: 1s;
}
.scale:hover {
    transform: scale(120%);
    transition: 0.3s;
}









@media (max-width: 769px) {
    .nav__label {
        width: 50px;
    }
    .nav__input[type="text"] {
        display: none;
    }
    .nav__img_search {
       display: block;
    }
}